# Ignore all core Drupal files.
www/*.*
www/core
# Ignore vendor directory.
vendor
drush/contrib/drush-cmi-tools/
# Ignore contrib files.
www/libraries/*
www/modules/*
www/themes/*
www/sites

# Not this one required by drush...
!www/autoload.php

# Exceptions inside contrib files (custom code).
!www/modules/custom
!www/themes/custom
!www/libraries/custom
!www/monitor*

# even after activating full project versioning in production you will still need
# to ignore theses files:
www/sites/default
www/sites/all/README.txt
www/sites/default/default.settings.php
www/sites/example.sites.php
www/sites/sites.php
www/sites/README.txt

/local

# Documentation builds.
doc/_build

# IDE settings.
nbproject
.idea/

# WARNING: You will want to use your custom profile's real name below.
!www/profiles/example
!www/profiles/project_profile

# Ignore conf files
sbin/profile_conf.sh
sbin/local_conf.sh

# Uncomment following line if modifying Drupal's .htaccess ?
# but really, you should not, either work on Nginx config files or real Apache config files
#!www/.htaccess

# npm modules
node_modules

# Documentation builds
doc/_build

# ignore runtime files
/bin/
/log
/private
/tmp
/var

# Tests.
tests/behat.local.yml
# behat.yml file is generated
tests/behat.yml

# Ignore IDE and OS-related files
.buildpath
.metadata
.settings
.project
.idea
.DS_Store
*.DS_Store
nbproject
.hg
atlassian-ide-plugin.xml
*~
\#*#

# VM & prod deployment
/local
/*.box
/*.log
/vagrant_config.yml
/.vagrant
*.retry
/.vagrant_config-overrides.yml
/.ansible/scripts/ansible_deploy_env
