#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar
makina-projects.projectname:
  data:
    drupal_profile: example
    drush_make: profiles/{drupal_profile}/{drupal_profile}.make
    nginx_vhost: "salt://makina-projects/{name}/files/nginx.conf"
    nginx_top: "salt://makina-projects/{name}/files/nginx.top.conf"
    use_microcache: false
    drupal_locale: fr
    drupal_cron_enabled: true
    drupal_xmlrpc_enabled: false
    drupal_authorize_enabled: false
    drupal_update_enabled: false
    drush_ver: "6.*"
    drush_make_args: "profiles/{drupal_profile}/{drupal_profile}.make"
    domain: "{fqdn}"
    cron_periodicity: "* */3 * * *"
    cron_user: "root"
    cron_cmd: "cd {project_root}/www && ../bin/drush cron -y"
    password: "secret"
    # if a special php is needed for drush, set the path here
    modules_check: ctools webform ckeditor_link
    php: ''
    force:
      make: 0
      install: 0
    db_prefix: ""
    db_type: mysql
    db_host: "127.0.0.1"
    db_password: "{password}"
    db_name: "{name}"
    db_user: "{name}"
    db_port: "3306"
    db_url: "{db_type}://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
    var: "{data_root}/var"
    www_dir: "{project_root}/www"
    fpm_sock: "{project_root}/var/run/fpm.sock"
    fpm_pool:
      open_basedir:
        - "{data_root}/sites"
        - "{data_root}/var/sites"
        - "{data_root}/var/log"
        - "{data_root}/var/tmp"
        - "{data_root}/var/private"
        - "{project_root}/www"
        - "{project_root}/lib"
        - "{project_root}/var/tmp"
        - "{project_root}/var/private"
      include_path:
        - "{project_root}/www"
        - "{project_root}/lib"
      socket_name: "{fpm_sock}"
      session_auto_start: 0
      allow_url_fopen: 1
      upload_max_filesize: "500M"
      max_input_vars: 3000
      fpm_user: "{user}"
      fpm_group: "www-data"
      memory_limit: "256M"
      modules:
        apc:
          user_entries_hint: 1000,
          num_files_hint: 2000,
          ttl: 0,
          user_ttl: 300,
          gc_ttl: 0,
          shm_size: "64M"
    htaccess: "/etc/nginx/{name}.access"
    # uncomment to activate http auth
    #http_users:
    #  - root: secret
    admins: 'sysadmin@{domain}'
    local_settings:
      site_password: "{password}"
      account_name: 'admin'
      account_email: 'root@{fqdn}'
      site_email: 'root@{fqdn}'
      site_name: "{name}"
      reverse_proxy: 'TRUE'
      reverse_proxy_addresses: "array('127.0.0.1', '10.5.0.1')"
      image_allow_insecure_derivatives: 1
      reroute_email_enable: 0
      reroute_email_address: '{admins}'
      image_jpeg_quality: 95
      locale_cache_length: 204800
      cookie_cache_bypass_adv_cache_lifetime: 300
      file_chmod_directory: '02770'
      file_chmod_file: '0660'
      error_level: 1
      preprocess_css: 0
      preprocess_js: 0
      base_url: 'default'
      omit_vary_cookie: 'TRUE'
      smtp:
        used: True
        host: '127.0.0.1'
        from: 'root@{fqdn}'
        fromname: ''
      block_cache_bypass_node_grants: 1
    dev:
      local_settings:
        reroute_email_enable: 1

# an exemple pillar
# makina-projects.testdrupal:
#   api_version: '2'
#   data:
#     domain: "aaaaa.makina-corpus.net"
#     cron_cmd: "wget -O - -q -t 1 http://aaaaa.makina-corpus.net/cron.php?cron_key=Daaaaa-aaaaa-aaaa"
#     db_host: "10.5.0.12"
#     db_password: "aaa"
#     db_name: "aaa"
#     db_user: "aaa"
#     password: "secret"
#     http_users:
#       - root: secret
#     local_settings:
#       site_password: "aaa"
#       account_name: 'admin'
#       account_email: 'sysadmin+aaa@aaa-corpus.com'
#       site_email: 'sysadmin+aaa@aaa-corpus.com'

# vim:set ft=sls:
