#!/usr/bin/env bash
# Used for account mail and site mail
MAIL="sysadmin@localhost"
NAME="admin"
PASS="password"

# values are 8 or anything else for previous versions
DRUPAL_VERSION=8

# Database info
DB_USER="sampledevu"
DB_PASS="sampledevp"
DB_TYPE="mysql"
# warning 'localhost' means socket, unavailable in chroot
DB_HOST="127.0.0.1"
DB_NAME="sampledev"
DB_PORT="3306"

SITE_NAME="SAMPLE"
SITE_MAIL="contact@localhost"

SITE_DEFAULT_COUNTRY="FR"
DATE_DEFAULT_TIMEZONE="Europe/Paris"
UPDATE_STATUS_MODULE=0
